/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  height: 60px;
  border: 1px solid red;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  text-align: center;
  padding: 14px 12px;
}

a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.small-text {
  /* 90% font size of root font size of HTML/CSS */
  font-size: 0.9rem;
}

.menu-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu-bg:hover {
  background-color: rgba(100, 100, 100, 0.1);
  cursor: pointer;
}

.menu-button {
  margin-left: 5px;
  width: 17px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-top: 6px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}

.search-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-bar {
  width: 500px;
  height: 45px;
  padding-left: 50px;
  font-size: 1.2rem;
  border-radius: 45px;
  border: 1px solid #d3d3d3;
}
